* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: 0.6s;
  background-color: var(--bg-1);
}
img {
  max-width: 100%;
}
a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-400px, 0, 0);
  transition: 0.8s;
}
.js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
