.degrade {
  position: relative;
  background: var(--bg-6);
}

.menu {
  padding-top: 1.9rem;
  padding-bottom: 1.3rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-borda);
}
.menu-list {
  gap: 2rem;
}
.menu-list a {
  font-size: 1rem;
  padding: 0.457rem 0.718rem 0.75rem;
  font-variant: small-caps;
  font-weight: 500;
}

.menu-list a:hover {
  transition: 0.3s;
  color: var(--cor-borda-2);
}
body.light #tema {
  max-width: 1.2rem;
}

.home {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
  place-items: end;
}
.home-texto {
  flex: 1;
  align-content: center;
  margin-top: 8rem;
}
.home-texto h1,
.home-texto h2 {
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  font-size: 3.1rem;
  line-height: 4.8rem;
  text-align: center;
  text-align: start;
}
.home-texto h1 {
  letter-spacing: 2rem;
}
.home-texto p {
  margin-top: 2.31rem;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 3.126rem;
  color: var(--texto-3);
}
.home-btn {
  margin-top: 2.31rem;
  margin-bottom: 3rem;
  gap: 3.5rem;
}
.btn-1 {
  padding: 0.8rem 1.9rem;
  gap: 0.7rem;
  border: 1px solid var(--cor-borda-2);
  position: relative;
  overflow: hidden;
}
.btn-1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  transform: translate(-50%, -50%);
  height: 100%;
  background: var(--btn);
  z-index: -1;
  transition: 0.7s ease;
}
.btn-1:hover::before {
  width: 110%;
}
.btn-2 {
  padding: 0.8rem 1.9rem;
  background: var(--bg-2);
  border-radius: 5px;
  color: var(--texto-2);
  box-shadow: inset 0px 1px 0px 0px var(--bg-2);
}
.btn-2:hover {
  transition: 0.6s;
  box-shadow: inset 0px 0px 8px 3px var(--btn2);
}

.home-img img {
  height: auto;
  width: 100%;
  flex: 2;
}
#menu {
  display: none;
}
@media (max-width: 1024px) {
  .menu-list {
    gap: 1rem;
  }
  .home-texto {
    margin-top: 4rem;
  }
  .home-texto h1,
  .home-texto h2 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .home-texto h1 {
    letter-spacing: 1.5rem;
  }
  .home-texto p {
    margin-top: 1.31rem;
  }
  .btn-1,
  .btn-2 {
    padding: 0.8rem 1.1rem;
  }
}

@media (max-width: 912px) {
  .menu {
    flex-direction: column;
    gap: 2rem;
  }
  .home {
    flex-direction: column-reverse;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .home-texto {
    margin-top: 2rem;
  }
  .home-texto h1,
  .home-texto h2 {
    font-size: 3rem;
    line-height: 2.6rem;
  }
  .home-img img {
    width: 100vh;
  }
  .home-btn {
    margin-bottom: 1rem;
  }
}
@media (max-width: 540px) {
  .container {
    padding: 0rem 1.5rem;
  }
  .menu {
    padding-top: 2rem;
  }
  .menu-list {
    margin-bottom: 1rem;
  }
  .menu-list a {
    font-size: 0.9rem;
  }
  body.light #tema {
    max-width: 1rem;
  }
  body.dark #tema {
    max-width: 1.5rem;
  }
  .home-texto h1,
  .home-texto h2 {
    font-size: 2.6rem;
  }
}
@media (max-width: 414px) {
  .container {
    max-width: 414px;
    padding: 0 1.5rem;
  }

  #menu {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 30px;
    height: 2px;
    position: relative;
    transition: 0.2s;
    box-shadow: 0 2px 0 0 #d99a01;
  }
  #menu::after {
    transition: 0.2s;
    content: "";
    display: block;
    width: 30.5px;
    left: 0;
    height: 2px;
    background: #9f6605;
    bottom: 0.6rem;
    position: absolute;
  }
  #menu::before {
    content: "";
    transition: 0.2s;
    display: block;
    width: 30.5px;
    height: 2px;
    background: #efb62b;
    left: 0;
    top: 0.6rem;
    position: absolute;
  }
  #menu.active {
    box-shadow: none;
  }
  #menu.active::before {
    top: 1rem;
    transform: rotate(-45deg);
  }
  #menu.active::after {
    top: 1rem;
    transform: rotate(45deg);
  }
  .menu {
    position: relative;
    z-index: 22;
    flex-direction: row;
  }
  #menuList {
    display: none;
  }
  #menuList.active {
    top: 6rem;
    overflow: hidden;
    position: absolute;
    align-items: center;
    display: grid;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 22;
    background: var(--bg-5);
    box-shadow: 0 1px 15px var(--cor-borda-2);
    border-radius: 4px;
    padding: 1rem 1rem;
    animation: show-menu 0.3s both;
  }
  #menuList.active li {
    padding-top: 1rem;
    border-top: 1px solid var(--cor-borda);
  }
  #menuList li:last-child {
    border-top: none;
    order: -2;
  }
  @keyframes show-menu {
    from {
      opacity: 0;
      transform: translate3d(0, -300px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .home-texto h1,
  .home-texto h2 {
    text-align: center;
    font-size: 2.2rem;
  }
  .home-texto {
    align-self: center;
  }
  .home-texto h1 {
    letter-spacing: 1.1rem;
    margin-bottom: 1rem;
  }
  .home-texto p {
    max-width: 30ch;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0;
  }
  .home-btn {
    gap: 1.5rem;
    justify-content: center;
  }
}

@media (max-width: 280px) {
  .menu-list a {
    font-size: 0.9rem;
  }
  .container {
    max-width: 300px;
    padding: 0 1rem;
  }
  .home-texto h2,
  .home-texto h1 {
    font-size: 1.5rem;
  }
  .home-texto p {
    font-size: 0.9rem;
  }
  .btn-1,
  .btn-2 {
    font-size: 0.7rem;
  }
}
