.menu {
  padding-top: 1.9rem;
  padding-bottom: 1.3rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-borda);
}
.menu-list {
  gap: 2rem;
}
.menu-list a {
  font-size: 1rem;
  padding: 0.457rem 0.718rem 0.75rem;
  font-variant: small-caps;
  font-weight: 500;
}
.home {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
  place-items: end;
}
.home-texto {
  flex: 1;
  align-content: center;
  margin-top: 8rem;
}
.home-texto h1,
.home-texto h2 {
  font-family: "Cinzel", Arial, Helvetica, sans-serif;
  font-size: 3.1rem;
  line-height: 4.8rem;
  text-align: center;
  text-align: start;
}
.home-texto h1 {
  letter-spacing: 2rem;
}
.home-texto p {
  margin-top: 2.31rem;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 3.126rem;
  color: var(--texto-3);
}
.home-btn {
  margin-top: 2.31rem;
  margin-bottom: 3rem;
  gap: 3.5rem;
}
.btn-1 {
  padding: 0.8rem 1.9rem;
  gap: 0.7rem;
  border: 1px solid var(--cor-borda-2);
}
.btn-2 {
  padding: 0.8rem 1.9rem;
  background: var(--bg-2);
  border-radius: 5px;
  color: var(--texto-2);
}

.home-img img {
  flex: 2;
  height: auto;
  width: 100%;
}
