h1,
h2,
h3,
h4,
a,
p,
span {
  color: var(--texto-1);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* container */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0rem 5rem;
}
/* padding */

/* text transform */
.up {
  text-transform: uppercase;
}
.cap {
  text-transform: capitalize;
}

/* font weight */

.weight-2 {
  font-weight: 200;
}
.weight-3 {
  font-weight: 300;
}
.weight-5 {
  font-weight: 500;
}

.weight-7 {
  font-weight: 700;
}
.weight-8 {
  font-weight: 800;
}
.weight-9 {
  font-weight: 900;
}

/* display flex */

.flex {
  display: flex;
  align-items: center;
}

/* gradiente na letra */

.bg-2-texto {
  background: var(--bg-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* cores tema dark  */

:root body.dark {
  --bg-1: #050607;
  --bg-2: linear-gradient(
    295.38deg,
    #ffe5a2 4.89%,
    #bf841a 50.44%,
    #ffcd74 95.06%
  );
  --bg-3: linear-gradient(
    90deg,
    rgba(9, 11, 14, 0.81) 19.79%,
    rgba(9, 11, 14, 0) 97.4%
  );
  --bg-4: #0b0d10;
  --bg-5: linear-gradient(274.7deg, #0d1626 -0.81%, #07090c 98.64%);
  --bg-6: linear-gradient(
    45deg,
    rgba(15, 18, 24, 0) 20%,
    rgba(38, 72, 121, 0.2) 88.63%,
    rgba(15, 18, 24, 0) 100%
  );
  --texto-1: #fff;
  --texto-2: #0a0d11;
  --texto-3: #eff3fb;
  --texto-4: rgba(255, 255, 255, 0.8);
  --texto-5: #cccccc;
  --cor-borda: #101822;
  --cor-borda-2: #bf841a;
  --btn: #191919;
  --btn2: #fde19c;
}

/* cores tema light */

:root body.light {
  --bg-1: #fff;
  --bg-2: linear-gradient(
    295.38deg,
    #d99a01 4.89%,
    #9f6605 49.04%,
    #efb62b 95.06%
  );
  --bg-3: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.81) 19.79%,
    rgba(255, 255, 255, 0) 97.4%
  );
  --bg-4: #e0e0e0;
  --bg-5: linear-gradient(274.7deg, #dff1f4 -0.81%, #e9eaec 98.64%);
  --bg-6: linear-gradient(
    45deg,
    rgba(149, 223, 255, 0) 20%,
    rgba(124, 224, 255, 0.2) 88.63%,
    rgba(255, 255, 255, 0) 100%
  );
  --texto-1: #0d0d0d;
  --texto-2: #fff;
  --texto-3: #171717;
  --texto-4: rgba(13, 13, 13, 0.8);
  --texto-5: #080a0d;
  --cor-borda: #ffe5a2;
  --cor-borda-2: #9f6605;
  --btn: #f0f0f0;
  --btn2: #9f6605;
}
